.secao-foot{
    background-color: rgb(133, 55, 55);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    width: 100vw;
    box-sizing: border-box;
}


h1{
    font-size: 40px;
}