.secao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 90vw;
    padding: 5px 15px;
    margin: 10px 5px;
    border-radius: 15px;
}

.tituSub {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;

    width: auto;
    gap: 10px;
    margin: 0;

    padding: 10px;
    .titulo, .subtitulo{
        width: max-content;
        margin: 0;
    }

}

.titulo {
    font-size: 30px;
}

.button {
    width: 20%;
    padding: 30px 10px;
}

.botoes {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    padding: 10px;
    padding-right: 40px;
}