.pai {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #A6A6EE;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;

    gap: 20px;
    width: auto;
    height: 100%;
    margin: 30px 20px;
}

.escuro {
    background-color: #340675;
    color: #C0CAFF;
    border: 5px #681F8A solid;
    box-shadow: 0 0 0 3px #E98BC8;
}

.bt-escuro {
    background-color: #681F8A;
    border: 5px #AE18B0 solid;
    box-shadow: 0 0 0 3px #EEEEA6;
    color: #C0CAFF;
}

.claro {
    background-color: #dddddd;
    color: #A278DD;
    border: 5px #caa6ee solid;
    box-shadow: 0 0 0 3px #a278dd;

}

.bt-claro {
    background-color: #DEAEEE;
    border: 5px #dddddd solid;
    box-shadow: 0 0 0 3px #a278dd;
    color: #A278DD;
}