.pai {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #A6A6EE;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;

    gap: 20px;
    width: auto;
    height: 100%;
    margin: 30px 20px;
}

.escuro {
    background-color: #77A0F2;
    color: #BDCAF2;

}

.bt-escuro {
    background-color: #8B88F2;
    color: #BDCAF2;
}

.claro {
    background-color: #dddddd;
    color: #A278DD;
    border: 5px #caa6ee solid;
    box-shadow: 0 0 0 3px #a278dd;

}

.bt-claro {
    background-color: #F277DE;
    color: #A278DD;
}